.Form {
  height: 100%;
  width: 100%;
}

.Form-title {
  margin-top: 0;
  display: inline-block;
}

.Form-subTitle {
  margin-left: 1rem;
  display: inline-block;
}

.Form-isHidden {
  display: none !important;
}

.Form-error {
  margin: 2rem 0 0 0;
  color: tomato;
}

.Form-buttonRow {
  padding-top: 3rem;
  width: 100%;
}
