.TextInput {
  label {
    margin: 20px 0 1rem 0;
  }
}

.TextInput-title {
  font-weight: bold;
  margin-bottom: 1rem;
  display: inline-block;
}

.TextInput-subTitle {
  margin-left: 1rem;
  display: inline-block;
}

.TextInput-field--noTitle {
  margin-bottom: 1rem;
}

.TextInput-field, {
  border: 1px solid #DADADA;
  background: #ECECEC;
  box-shadow: none;
  font-size: 16px;
  font-weight: normal;
  outline: none;
  padding: 10px 15px;
}

.TextInput-field--isError {
  border: 1px solid tomato;
  color: tomato
}
